  <h1 class="avatar"><a href="{{ root_url }}/"><img src="/images/daniel.png" alt=""></a></h1>
  {% if site.subtitle %}
    <h2 class="header-subtitle">Hi! My name is Daniel and i’m a Front-end Developer & Interface Designer.<br/>
Raised and born in Italy, currently working for <a href="http://www.evoluzionetelematica.it" title="Evoluzione Telematica" target="_blank">Evoluzione Telematica</a>
</h2>
  {% endif %}
  <ul class="social-list">
	<li class="social-list__item social-twitter"><a href="https://twitter.com/ildaniel8" title="Twitter" class="social-list__link" target="_blank">Twitter</a></li>
	<li class="social-list__item social-plus "><a href="https://plus.google.com/101351200423097607707"  title="Google Plus" class="social-list__link" target="_blank">Google plus</a></li>
	<li class="social-list__item social-feed"><a href="{{ site.subscribe_rss }}" class="social-list__link social-feed" target="_blank">Feed</a></li>
	<li class="social-list__item social-linkedin"><a href="http://www.linkedin.com/in/danielhq" class="social-list__link social-linkedin" target="_blank">linkedIn</a></li>
	<li class="social-list__item social-github"><a href="https://github.com/danielhq" class="social-list__link" target="_blank">Github</a></li>
</ul>
